<div class="container mt-4">
  @if(loginForm){
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    @for(field of loginFields;track field.field){
    <div class="mb-3">
      <label [for]="field.field" class="form-label">{{field.label}}</label>
      <input [type]="field.type" class="form-control" [formControlName]="field.field" [required]="field.required" />
    </div>
    }
    @if(errorMessage){
      <div  class="alert alert-danger mt-2">
        {{ errorMessage }}
      </div>
    }
  
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
  }

</div>